.save{
    background-color: #1da1f2;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.05));
    border: 1px solid #3b88c3;
}

.profilemaker{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    background-color : darkgray;
}

.background{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    cursor : pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    min-height: 180px;
    width : 100%;
}

.profilemaker :hover{
    /*-webkit-filter: blur(15px);
    filter : blur(15px);*/
}

.default{
    padding : 0;
    margin: 0;
    font-size: 140px;
}

.option{
    margin-top: 2%;
}