.default{
    padding-bottom: 10%;
}

.normal{
    float: left;
    min-height: 1px; 
    width: 20%;
    padding-bottom: 10%;
    transform : scale(1);
}

.mouseOver{
    float: left;
    min-height: 1px; 
    width: 40%;
    animation-name: grossir;
    animation-duration: 1.5s;
    padding-bottom: 10%;
    transform : scale(1.04);
}

.videGauche{
    float: left;
    min-height: 1px; 
    padding-left: 45px;
    width: 25%;
    animation-name: gauchePaddingGrow;
    animation-duration: 1.5s;
    padding-bottom: 10%;
    transform : scale(1);
}

.videDroit{
    float: left;
    min-height: 1px; 
    padding-right: 45px;
    width: 25%;
    animation-name: droitPaddingGrow;
    animation-duration: 1.5s;
    padding-bottom: 10%;
    transform : scale(1);
}

@keyframes grossir {
    from {width: 25%; transform : scale(1); transform : translateX(0);}
    to {width: 40%; transform : scale(1.04); transform : translateX(-0.05);}
}

@keyframes noPadding {
    from {padding-left: 45px;}
    to {padding-left: 0px;}
}

@keyframes droitPaddingGrow {
    from {padding-right: 0px;}
    to {padding-right: 45px;}
}

@keyframes gauchePaddingGrow {
    from {padding-left: 0px;}
    to {padding-left: 45px;}
}