.default{
    float: left;
    min-height: 1px; 
    width: 20%;
}

.mouseOver{
    float: left;
    min-height: 1px; 
    width: 40%;
}

.videGauche{
    float: left;
    min-height: 1px; 
    padding-left: 45px;
    width: 25%;
}

.videDroit{
    float: left;
    min-height: 1px; 
    padding-right: 45px;
    width: 25%;
}