.bound{
    width : 100%;
    min-height: 500px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.1;
}

.cropper{
    background-repeat: no-repeat scroll;
    border-style: solid;
    position : absolute;
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
    opacity: 1;
}

.background{
    background-color: lightgray;
}