.bound{
    width : 100%;
    min-height: 500px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.cropper{
    border-style: solid;
    opacity: 0.5;
    position : absolute;
    cursor: pointer;
}

.background{
    background-color: lightgray;
}