.classfield {
      background-repeat: no-repeat;
      background-position: 50%;
      min-height : 180px;
      margin : 0px;
      background-size: contain;
}

.basic{
    color : #e5e5e5;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.bottom-info{
    position: fixed;
    bottom: 20%;
}

.mouseOver{
    position: fixed;
    bottom: 20%;
}

.title{
    font-weight: bold;
    float : left;
}

.price{
    position : fixed;
    right: 0; 
}

.description{
    float : left;
}
