.chat{
    position: fixed;
    bottom: 0;
    height : 50px;
}

.bottom{
    background-color: black;
    text-align: center;
    width: 100%;
}

.top{
    background-color: white;
    text-align: center;
    height: 5%;
}

.left{
    /*background-color: darkred;*/
    min-height : 90vh;
}

.center{
    background-image: url('../../../../assets/background2.jpg');
    text-align: center;
    min-height : 90vh;
}

.right{
    /*background-color: darkred;*/
    min-height : 90vh;
}

.fill{
    background-image: url('../../../../assets/background1.jpg');
}

.info{
    background-color: white;
    width : 100%;
    text-align: center;
    height : 60px;
    margin-bottom: 10px;
}

.space{
    margin-left: 15px;
}