.chat{
    position: fixed;
    bottom: 0;
    height : 50px;
}

.bottom{
    background-color: #08266e;
    text-align: center;
    width: 100%;
}

.top{
    background-color: white;
    text-align: center;
    height: 5%;
}

.left{
    /*background-color: darkred;*/
    min-height : 88vh;
}

.center{
    /*background-image: url('../../../../assets/background2.jpg');*/
    background: #890b0f;
    background: -webkit-linear-gradient(/*#890b0f,*/ #dd1f11, #b65e18, #9f7d61);
    background: -o-linear-gradient(/*#890b0f,*/ #dd1f11, #b65e18, #9f7d61);
    background: -moz-linear-gradient(/*#890b0f,*/ #dd1f11, #b65e18, #9f7d61);
    background: linear-gradient(/*#890b0f,*/ #dd1f11, #b65e18, #9f7d61);
    text-align: center;
    min-height : 88vh;
}

.right{
    /*background-color: darkred;*/
    min-height : 88vh;
}

.fill{
    /*background-image: url('../../../../assets/background1.jpg');*/
}

.info{
    background-color: white;
    text-align: center;
    height : 60px;
    margin-bottom: 0.5%;
}

.space{
    margin-left: 15px;
}