

.padding{
    padding : 0;
}



.navbar {

   margin-bottom: 0;
   background: rgba(0,0,0,0.5);
   border-color: transparent;
}

.navbar > .navbar-nav > li > a {
    color: black;
    background: rgba(0,0,0,0.2)
}


 .navbar .navbar-nav > .active > a,
 .navbar .navbar-nav > .active > a:hover,
 .navbar .navbar-nav > .active > a:focus {
      color: black;
      background: rgba(0,0,0,0.4);
 }
