<div class="classified" [ngStyle]="{'background-image': 'url(' + classified.imageList[0] + ')'}">
    <div class="basic">
        <div *ngIf="showDescription">
            <div class="mouseOver">
                <span class="title">
                    {{classified.getTitle()}}
                </span>
                <span class="price">
                    {{classified.getPrice()}} $
                </span>
                <div class="description">
                    {{shortDescription}}
                </div>
            </div>
        </div>
        <div *ngIf="!showDescription">
            <div class="bottom-info">
                <span class="title">
                    {{classified.getTitle()}}
                </span>
                <span class="price">
                    {{classified.getPrice()}} $
                </span>
            </div>
        </div>
    </div>
</div>