<div class="classfield" [ngStyle]="{'background-image': 'url(' + classfield.imageList[0] + ')'}">
    <div class="basic">
        <div *ngIf="isMouseOver">
            <div class="mouseOver">
                <div> 
                    <span class="title">
                        {{classfield.getTitle()}}
                    </span>
                    <span class="price">
                        {{classfield.getPrice()}} $
                    </span>
                </div>
                <div class="description">
                    {{shortDescription}}
                </div>
            </div>
        </div>
        <div *ngIf="!isMouseOver">
            <div class="bottom-info">
                <span class="title">
                    {{classfield.getTitle()}}
                </span>
                <span class="price">
                    {{classfield.getPrice()}} $
                </span>
            </div>
        </div>
    </div>
</div>